block content 
  #footer
   .footer.social-media
    .social-icons
     a.fa.fa-facebook-square.fa-2x(href='')
     a.fa.fa-twitter.fa-2x(href='https://twitter.com/sam_okasha', target='_blank')
     a.fa.fa-google-plus-circle.fa-2x(href='')
     a.fa.fa-linkedin-square.fa-2x(href='https://www.linkedin.com/in/osameh-okasha-4741a625', target='_blank')
     a.fa.fa-github.fa-2x(href='https://github.com/samokasha', target='_blank')
   .footer.copy
    p Copyright &copy;2016 Sam Okasha
